@import "../../styles/mainFont.css";

.appWrapper {
    display: grid;
  
    grid-template-areas:
    "h"
    "m";
    grid-template-rows: 2fr 26fr;
    grid-template-columns: 1f;

    font-family: 'droid-sans';
    font-weight:300;
    color:#13f016;
    font-size: x-large;
  }

.mainWrapper {
  display: grid;
  
  grid-template-areas:
  "s"
  "m";
  grid-template-rows:60px 2fr;
  grid-template-columns: 1fr;
}


.main {
  grid-area: m;
}
  
.list {
  grid-area: l;
}
  
.content {
  grid-area: c;
  padding: 5px;
}


.section {
  color:#13f016;
  text-decoration: none;
  margin: 10px;
}

.sectionactive {
text-decoration: none;
margin: 10px;
background-color: #13f016;
color:rgb(0, 0, 0);
}

.section:hover {
  background-color: #13f016;
  color:rgb(0, 0, 0);
}

