@import "../../styles/mainFont.css";

li {
  padding: 0;
  list-style-type: none;
}
.appWrapper {
    display: grid;
  
    grid-template-areas:
    "h"
    "m"
    "f";
    grid-template-rows: 2fr 22fr 5fr;
    grid-template-columns: 1f;
    font-family: 'droid-sans';
    font-weight:300;
    color:#13f016;
    font-size: x-large;
  }



.main {
  display: grid;
  
  grid-template-areas:
  "l c";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
  
.list {
  grid-area: l;
}
  
.content {
  grid-area: c;
  padding: 5px;
}



.sub-nav {
    padding: 5px;
    grid-area: s;
    display: flex;
    justify-content: center;
}

.sub-nav-block {
  color:#13f016;
  text-decoration: none;
  margin: 10px;
}

.sub-nav-block-bold {
  color:#13f016;
  text-decoration: none;
  margin: 10px;
  font-weight: 700;
}



.section {
  color:#13f016;
  text-decoration: none;
  margin: 10px;
}

.sectionactive {
text-decoration: none;
margin: 10px;
background-color: #13f016;
color:rgb(0, 0, 0);
}

.section:hover {
  background-color: #13f016;
  color:rgb(0, 0, 0);
}

