.header {
  padding: 0 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-area: h;
  border-bottom: 3px solid rgb(47, 214, 24);
}

.header .section {
  color:rgb(47, 214, 24);
  text-decoration: none;
}