.dataWrapper {
    display: grid;
  
    grid-template-areas:
    "s"
    "m";
     grid-template-rows: 50px 1fr;
      grid-template-columns: 1fr;
}

.subNav {
    grid-area: s;
}

.main {
    grid-area: m;
}
